<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/Join_Result_FormStyle.css" />
    <link rel="stylesheet" href="/css/Join_Result_FormStyleguide.css" />
    <title>Join Result - Fail</title>
  </head>

  <body>
    <div class="Join_Result_Form">
      <div class="Body_Join">
        <div class="Header_Join">
          <div class="Logo_Container">
            <img class="Logo" src="/img/Tamna_Logo.jpg" />
          </div>
        </div>
        <div class="Body_Information">
          <div class="Text">
            WRONG INPUT<br /><a href="/NewJoin">Try Again</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
