:root {
  color: #3a00e5;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #3a00e5;
  font-family: "Work Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px; /* 50% */
  letter-spacing: 0.4px;
}
